#jumbo{
  /* The image used */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("jumbo_photo.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
	text-align: right;
}

.restinfo{
	padding-top: 10%;
}

#title{
	color: white;
}

/* hide photos links on mobile */
@media only screen and (max-width: 767px) {
  	#headchef{
    	display: none;
	}
}